
@page "/"
<PageTitle>Home</PageTitle>

<div class="canvas">
    <CanvasManager @ref="_canvasManager" />
    <div class="status">
        CMPE 131 Project |
        Benjamin Schnittker | Sofia Nguyen | Kekoa Sarmiento | Dylan Quach | Siddarth Kota
    </div>
</div>



