@page "/Error"
@layout MainLayout
@using Blazored.LocalStorage
@inject ILocalStorageService LocalStorage


<div>
    <h1>Error</h1>
    <h2>Whoops! Looks like network services are currently down! :(</h2>
    <button @onclick="Continue" class="btn btn-primary mt-2">Play Locally</button>
</div>

@code{
    void Continue(){
        Nav.NavigateTo("/Game");//,true);
    }
}