@using Blazored.LocalStorage
@inject ILocalStorageService LocalStorage
@page "/Game"
@inject IJSRuntime JS 

@*Load resources defined in dictionary from asset manager*@
<!--<img @ref="_myImage" src="./spaceship.png" hidden /> -->
<div style="display:none">
    @foreach (var asset in AssetManager._assets.Values)
    {
        @for (int i = 0; i < asset.Frames.Length; i++)
        {
            var index = i; 
            <img @ref="asset.Frames[index]" 
                 src="@asset.FrameRefs[index]" 
                 alt="@asset.Name-@index" />
        }
    }
</div>

<PageTitle>Game</PageTitle>
<h3> @if (nm.myLobby != "")
    {
        @:Your lobby: @nm.myLobby
    }else{
        @: You're not currently in a lobby. All solo, baby!
    }</h3>

<!-- The @bind attribute links the HTML value to the C# variable 'userInput' -->


<p>Fps: @AssetManager.fps</p>


<div class="canvas">
    <CanvasManager @ref="_canvasManager" />
    <div class="status">
        CMPE 131 Project | Benjamin Schnittker | Sofia Nguyen | Kekoa Sarmiento | Dylan Quach | Siddarth Kota
    </div>
</div>



