@page "/Home"
@layout MainLayout

<div>

</div>
<button @onclick="Request">Request Lobby</button>

<div>
<div>
    @if (lobbyName != "")
    {
        @:Your lobby: @lobbyName
    }else{
        @: You're not currently in a lobby. Request one! 
    }
</div>
<input type="text" @bind="userInput" class="form-control" placeholder="Enter text here..." />

<button @onclick="SaveToStorage" class="btn btn-primary mt-2">Set Name</button>
</div>
<div>
    @if (userInput != null)
    {
        @:Hello @userInput
    }
</div>
<button @onclick="NavigateToCounter">Launch game!</button>

@code {
    private void NavigateToCounter()
    {


        Nav.NavigateTo("/Game");//,true);
    }
}