@page "/Home"
@layout MainLayout

<div>
<input type="text" @bind="userInput" class="form-control" placeholder="Enter text here..." />

<button @onclick="SaveToStorage" class="btn btn-primary mt-2">Set Name</button>
</div>
<div>
    @if (userInput != null)
    {
        @:Hello @userInput
    }
</div>
<button @onclick="NavigateToCounter">Launch game!</button>

@code {
    private void NavigateToCounter()
    {
        Nav.NavigateTo("/Game");//,true);
    }
}