@page "/Home"
@layout MainLayout

<div>

</div>


<div>
<div>
    @if (nm.myLobby != "")
    {
        @:Your lobby: @nm.myLobby
    }else{
       
        @: You're not currently in a lobby. Request one, or type one in if you know it! 
         <input type="text" @bind="requestedLobby" class="form-control" placeholder="Lobby Name" />
         <button @onclick="RequestNewLobby">Request New</button>
         <button @onclick="RequestJoinLobby">Request Join</button>
         if (failedToJoinLobby != "")
         {
             @: @failedToJoinLobby
         }
    }
</div>
<input type="text" @bind="userInput" class="form-control" placeholder="Enter text here..." />

<button @onclick="SaveToStorage" class="btn btn-primary mt-2">Set Name</button>
</div>
<div>
    @if (userInput != null)
    {
        @:Hello @userInput
    }
</div>
<button @onclick="NavigateToCounter">Launch game!</button>

@code {
    private void NavigateToCounter()
    {


        Nav.NavigateTo("/Game");//,true);
    }
}