@using Blazored.LocalStorage
@inject ILocalStorageService LocalStorage
@page "/"
@inject IJSRuntime JS 

@*Load resources defined in dictionary from asset manager*@
<!--<img @ref="_myImage" src="./spaceship.png" hidden /> -->
<div style="display:none">
    @foreach (var asset in AssetManager._assets.Values)
    {
        @for (int i = 0; i < asset.Frames.Length; i++)
        {
            var index = i; 
            <img @ref="asset.Frames[index]" 
                 src="@asset.FrameRefs[index]" 
                 alt="@asset.Name-@index" />
        }
    }
</div>

<PageTitle>Home</PageTitle>
<h3>CMPE131 Proj (Game thing idk)</h3>

<!-- The @bind attribute links the HTML value to the C# variable 'userInput' -->
<input type="text" @bind="userInput" class="form-control" placeholder="Enter text here..." />

<button @onclick="SaveToStorage" class="btn btn-primary mt-2">Confirm & Save</button>

<p>Fps: @AssetManager.fps</p>


<div class="canvas">
    <CanvasManager @ref="_canvasManager" />
    <div class="status">
        CMPE 131 Project | Benjamin Schnittker | Sofia Nguyen | Kekoa Sarmiento | Dylan Quach | Siddarth Kota
    </div>
</div>

@code {
    private string userInput = Settings.name;
    

    protected override void OnInitialized()
    {
        // Now you hand that reference to your GameManager
        

        
    }



    //Called on start of program.
    protected override async Task OnInitializedAsync()
    {
        bool worked = Settings.Load(await LocalStorage.GetItemAsync<string>("settingsSaveKey"));
        if (!worked){
            await Save();
        }

    }

    //Called when button is pressed, see above.
    private async Task SaveToStorage()
    {
        if (!string.IsNullOrWhiteSpace(userInput))
        {
            // Saves the current value of 'userInput' to local storage
            Settings.name = userInput;
            await Save();
        }
    }
    //Reference method. Called from OnIntializedAsync().
    async Task Save(){
        await LocalStorage.SetItemAsStringAsync("settingsSaveKey",Settings.Save());

    }

}


